.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content {
  width: 80%;
  height: max-content;
  padding: 10px;
}
.wrapper {
  height: 30px;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  line-height: 10px;
  cursor: pointer;
}