.hero {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: rgb(180, 189, 188);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 30px;
}
.formBox {
  max-width: 380px;
  height: max-content;
  margin: 6% auto;
  background: #fff;
  padding: 20px;
}
.inputGroup {
  display: block;
  margin: 0 auto;
  width: 280px;
  text-align: left;
}
.inputField {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  font-size: 16px;
}
.submitBtn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin:  20px auto;
  background: #999;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 20px;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 65px;
  position: absolute;
}
.label {
  font-size: 20px;
}