.main {
  position: fixed;
  left: 10%;
  width: 90%;
  height: 100%;
  background-color: silver;
}
.content {
  width: 80%;
  height: 80%;
  padding: 10px;
  margin: 20px auto;
  background-color: white;
}